@page "/diseasenameandcodeedit"
@page "/diseasenameandcodeedit/{DiseaseId}"

@if (Disease == null)
{
    <p><em>Kraunasi...</em></p>
}
else
{
@*    <div class="container">
*@        <div class="row">
            <div class="col">
        <EditForm Model="@Disease"></EditForm>
        <h4>Ligos klasifikacija </h4>
        <div >
            <label for="diseaseName" class="col-form-label col-md-3">Ligos pavadinimas: </label>
                <div class="row mb-3">
                    <div class="col-md-8">
                        <InputText id="diseaseName" class="form-control" @bind-Value="@Disease.Name" placeholder="Įveskite ligos pavadinimą"></InputText>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" @onclick="() => HandleDiseaseNameValidSubmit()">Patvirtinti pavadinimą</button>
                    </div>
            </div>     
        </div>
        <h5 class="mt-3">Ligos kodai</h5>
       
        <div>
                <div class="mb-3">
                @if (ShowForm)
                {
                    <EditForm Model="SelectedOption" OnValidSubmit="HandleDiseaseCodesValidSubmit">
                            <div class="mb-3 form-group">
                            <label for="selectField">Select option:</label>
                                <InputSelect id="selectField" @bind-Value="SelectedOption" class="form-control">
                                <option value="">-- Prašome pasirinkti --</option>
                                @foreach (var option in options)
                                {
                                    <option value="@option">@option</option>
                                }
                            </InputSelect>
                        </div>
                            <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Patvirtinti</button>
                        </div>
                    </EditForm>
                }
            </div>

                <div class="row mb-3">
                <div>
                    <button class="btn btn-primary" @onclick="ToggleForm">Pridėti kodą</button>
                </div>
            </div>
        </div>
        


        <table class="table table-light">
            <thead class="table-primary">
                <tr>
                    <th>Kodo tipas</th>
                    <th>Kodas</th>
                    <th>Veiksmai</th>
                </tr>
           </thead>      
         <tbody>
        @foreach (var diseaseCode in Disease.DiseaseCodes)
        {
          <tr>
             <td> @GetDescription((DiseaseCodeTypes)diseaseCode.CodeType) </td>
            <td> @diseaseCode.DiseaseClassificator @diseaseCode.CodeDescription</td>
            <td> <button class="btn btn-danger" @onclick="() => DeleteDiseaseCodeAsync(Disease.DiseaseId, diseaseCode.DiseaseCodeId)">Ištrinti</button> </td>
          </tr>           
        }
        </tbody>
        </table>
    </div>
    </div>
    @*</div>*@
}