@page "/diseasesoverview"

<h2>Ligos</h2>

@if (Diseases == null)
{
    <p><em>Kraunasi...</em></p>
}
else
{
    @foreach (var disease in Diseases)
   {
       <div class="card">
           <div class="card-header">
               <h3>@disease.Name</h3>
           </div>
           <div class="card-body">
               <div>
                    @if (disease.DiseaseCodes.Where(x => x.CodeType == 0).Any())
                    {
                        <h5>TLK</h5>
                        var tlkCodes = disease.DiseaseCodes.Where(x => x.CodeType == 0).OrderBy(d => d.DiseaseClassificator);
                        @foreach (var diseaseCode in tlkCodes)
                        {
                            <p>@diseaseCode.DiseaseClassificator @diseaseCode.CodeDescription</p>
                            
                        }
                    }
                    

                    @if (disease.DiseaseCodes.Where(x => x.CodeType > 0).Any())
                    {
                        var otherDiseaseCodes = disease.DiseaseCodes.Where(x => x.CodeType > 0).OrderBy(d => d.DiseaseClassificator);

                        <p>Kodai pagal ORPHA ar kitas sistemas:</p>

                        @foreach (var otherDiseaseCode in otherDiseaseCodes)
                        {
                            <p>@otherDiseaseCode.DiseaseClassificator @otherDiseaseCode.CodeDescription?</p>

                        }
                    }
                </div>
                <div>
                    <table class="table table-light">
                     <thead class="table-primary">
                          <tr>
                                <th>Genai</th>
                                <th>Tyrimai</th>
                                <th>Gydymas</th>
                          </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td>
                                    @foreach (var gene in disease.Oncogenes)
                                    {
                                        <span>@gene.Symbol</span>
                                        if (gene != disease.Oncogenes.Last())
                                        {
                                            <span>, </span>
                                        }
                                    }
                             </td>
                             <td>
                                    <ul class="list-style">
                                 @foreach(var medicalTest in disease.MedicalTests)
                                 {
                                        <li>@medicalTest.Name</li>
                                            if (!String.IsNullOrEmpty(medicalTest.Note))
                                        {
                                                <small>*@medicalTest.Note</small>
                                        }
                                       
                                 }
                                 </ul>
                                </td>
                             <td>
                                 <ul class="list-style">
                                @foreach (var treatment in disease.Treatments)
                                {
                                        <li>@treatment.Name</li>
                                }
                                    </ul>
                             </td>
                         </tr>                                                   
                     </tbody>
                    </table>
                </div>
           </div>
       </div>
   }
}
