@page "/diseasecodeeditor"


<h2>Ligų kodai</h2>


<div class="col">
    @if (ShowForm)
    {
        <div class="mb-3">
        <form @onsubmit="AddDiseaseCodeAsync">
            <div class="card">
            <span class="card-body">
                <label for="title">Kodas:</label>
                <input type="text" id="title" class="form-control" @bind="@DiseaseCode.Code" />
                <label for="title">Diagnozė:</label>
                <input type="text" id="title" class="form-control" @bind="@DiseaseCode.CodeDescription" />
                        <div class="form-group">
                                <label for="TypeDropdown">Pasirinkite tipą:</label>
                                <InputSelect id="TypeDropdown" class="form-control" @bind-Value="@DiseaseCode.CodeType">
                                    >
                                    @foreach (DiseaseCodeTypes level in Enum.GetValues(typeof(DiseaseCodeTypes)))
                                    {
                                        <option value="@((int)level)">@GetDescription(level)</option>
                                    }
                                </InputSelect>
                        </div>
                         
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Išsaugoti naują kodą</button>
                </div>              
                </span>
            </div>
        </form>
        </div>
    }
    else
    {
        <div class="mb-3 mt-3 col-1">
            <button class="btn btn-primary" @onclick="ToggleForm" >Pridėti kodą</button>
        </div>
    }
</div>

@if (DiseaseCodes == null)
{
    <p><em>Kraunasi...</em></p>
}
else
{
   @foreach (var diseaseCode in DiseaseCodes)
    {
        <EditForm Model="@diseaseCode">
            <div class="card">
            <span class="card-body">

                <div class="form-group">
                    <label for="LevelDropdown">Pasirinkite tipą:</label>
                        <InputSelect id="LevelDropdown" class="form-control" @bind-Value="@diseaseCode.CodeType">
                        @foreach (DiseaseCodeTypes level in Enum.GetValues(typeof(DiseaseCodeTypes)))
                        {
                            <option value="@((int)level)">@GetDescription(level)</option>
                        }
                    </InputSelect>
                </div>


                    <label for="@($"DiseaseCode{diseaseCode.DiseaseCodeId}")">Kodas:</label>
                    <InputText id="@($"DiseaseCode{diseaseCode.DiseaseCodeId}")" class="form-control col-md-4" @bind-Value="diseaseCode.Code" />

                    <label for="@($"DiseaseCode{diseaseCode.DiseaseCodeId}")">Diagnozė:</label>
                    <InputText id="@($"DiseaseCode{diseaseCode.DiseaseCodeId}")" class="form-control col-md-4" @bind-Value="diseaseCode.CodeDescription" />
                </span>
                <div class="card-footer">
                    <button @onclick="@(() => HandleValidSubmitAsync(diseaseCode))" class="btn btn-primary">Išsaugoti</button>
                    <button @onclick="@(() => DeleteDiseaseCodeAsync(diseaseCode.DiseaseCodeId))" class="btn btn-danger">Ištrinti</button>
               </div>
               
           </div>
        </EditForm>

        @*OnValidSubmit="@(() => HandleValidSubmitAsync(diseaseCode))*@
    }
}